<!DOCTYPE html>
<html>
<head>
    <title>Chatbot Website</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 50;
        }
        #chatbot-container {
            position: relative;
            width: 100%;
            height: 100vh;
        }
        #chatbot-iframe {
            border: none;
            width: 100%;
            height: 110%;
        }
    </style>
</head>
<body body="../tealbg.jpg">
    <div id="chatbot-container">
        <iframe id="chatbot-iframe" src="https://page.botpenguin.com/65363ef450e8d777ab3645ad/65363ea498eb2b6a46129538"></iframe>
    </div>
</body>
</html>